@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 415vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

section {
  min-height: 100vh;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2 {
  color: #444;
}
h3 {
  color: #999;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid #999;
}
th,
td {
  text-align: left;
  padding: 8px;
}
#btn {
  background-color: #457b9d;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
#btn:hover {
  background-color: white;
  color: #457b9d;
  border: 2px solid #457b9d;
  padding: 3px 8px;
  border: 2px solid #457b9d;
}
.header {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 7vh;
  background-color: #457b9d;
  display: flex;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: end;
  align-items: center;
  li {
    display: inline;
    margin-right: 40px;
    a {
      font-size: 28px;
      text-decoration: none;
      color: white;
      text-align: center;
    }
  }
}
.dashboard {
  margin-top: 3vh;
  min-height: 50vh;
}
.content {
  position: relative;
}
.content .cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .cards #card {
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 250px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1{
    font-size: 35px;
    font-weight: bold;
    color: #444;
    margin-bottom: 0px;
  }
  h3{
    font-size: 30px;
    font-weight: bold;
    color: #999;
  }
}
.content .cards #card:hover {
  box-shadow: 0 4px 8px 0 rgba(69, 123, 157, 2),
    0 6px 20px 0 rgba(69, 123, 157, 1.5);
}
.icon-case img {
  width: 55px;
  height: 55px;
}
.content .content-2 {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.content .content-2 .recent-payment {
  min-height: 50vh;
  flex: 5;
  background-color: white;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  table{
    font-size: 20px;
  }
}
.title {
  h2{
    font-size: 30px;
    font-weight: bold;
    color: #444;
  }
}
.content .content-2 .new-students {
  flex: 2;
  background-color: white;
  min-height: 50vh;
  margin: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 4vw;
  table{
    font-size: 20px;
  }
}
.content .content-2 .new-students table td:nth-child(1) img {
  height: 40px;
  width: 40px;
}