body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.item-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 5px solid #457b9d;
  margin-bottom: 30px;
  h2 {
    font-size: 30px;
    margin-left: 0px;
    margin-top: 70px;
    font-weight: bold;
  }
}
.card2 {
  background: #b6c5ee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  height: 62vh;
  margin-left: 0%;
  border: 2px solid #457b9d;
}
.card-header2 {
  background: #457b9d;
  border-radius: 0px;
  height: 7vh;
  text-align: left;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding-left: 20px;
  padding-top: 12px;
  color: white;
}

#itbtn {
  background: #26be00;
  color: rgb(0, 0, 0);
  width: 200px;
  height: 50px;
  margin: 10px;
  margin-left: 140px;
}
#itbtn:hover {
  background: #1e8a03;
  color: rgb(255, 255, 255);
  width: 200px;
  height: 50px;
}
#item_update_btn {
  background: #f70404;
  color: rgb(255, 255, 255);
  width: 200px;
  height: 50px;
  margin: 10px;
}
#item_update_btn:hover {
  background: #b10303;
  color: rgb(255, 255, 255);
}
#item_delete_btn {
  background: #1904d8;
  color: rgb(0, 0, 0);
  width: 200px;
  height: 50px;
  margin: 10px;
}
#item_delete_btn:hover {
  background: #1904d8;
  color: rgb(255, 255, 255);
}
#item_clean_btn {
  background: #fceb05;
  color: rgb(0, 0, 0);
  width: 200px;
  height: 50px;
  margin: 10px;
}
#item_clean_btn:hover {
  background: #d8a704;
  color: rgb(255, 255, 255);
}

#item_form {
  margin-top: 20px;
}

.dashboard-section {
  border: 4px solid red;
  background: antiquewhite;
}

#raw {
  margin-top: -100px;
}
#tablerow > th {
  color: white;
  background: #457b9d;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#itemTable {
  margin-left: 0%;
  width: 100%;
}
.dash > div:nth-child(3) {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dash > div > div {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#ca_1 {
  margin-top: 10px;
}
#ca_4 {
  margin-top: -115px;
}
.col {
  textarea {
    width: 95%;
    margin-left: 10px;
    margin-left: 10px;
  }
}
